BODY {
   font: 9pt Verdana, Geneva, Arial, Helvetica, sans-serif;
   margin: 40px 5px 100px 0px;
   text-align: center;
    background-color: #ffffff;
} 

.campos{
	background-color:#edfbff;
	border: 1px solid #a0ecff;
	width: 300px;
	margin-right:8px;
        align:lefth
}
#contenedor2{
position:relative;  top:50px; 
}
#login{
   visibility:hidden;
   display: none;
} 

#logo2{
   visibility:hidden;
   display: none;
} 

#ocultarParaImpresion{
   visibility:hidden;
   display: none;
} 

.botones{
   visibility:hidden;
   display: none;
} 

footer{
   visibility:hidden;
   display: none;
} 
#logoImpresora{
   visibility:hidden;
   display: none;
} 


#footer_factura{
   
position:relative;  top:420px;
   
}
.contenido_descripcion
{
  position:relative;  top:60px; 
    
}