BODY {
   font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
   margin: 10 0 10 0px;
   text-align: center;
    background-color: #ffffff;
} 

#login{
   visibility:hidden;
   display: none;
} 

#logo2{
   visibility:hidden;
   display: none;
} 

#ocultarParaImpresion{
   visibility:hidden;
   display: none;
} 

#login{
   visibility:hidden;
   display: none;
} 

#login{
   visibility:hidden;
   display: none;
} 